/* to ensure gradient image covers entire websitre*/
html {
    height: 100%;
}

/* the background gradient */
body {
    background-image: linear-gradient(black, grey);
    background-color: black;
}

/* the color of our title*/
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.test {
    color: white;
    font-size: 5vh;
    text-align: center;
    border: 5px solid white;
}